<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Donation</title>
  </head>
  <body>
    <div class="container">
      <form action="/user/create" method="POST">
        <input type="text" name="name" placeholder="이름" /><br />
        <button type="submit">확인</button>
      </form>
      <!-- <% if(user) { %>
      <h1>안녕? 난 <%= user %> 인데?</h1>
      <%= result %> <% } %> -->

      <h1>유저 정보 확인!</h1>
      <form action="/user/info" method="POST">
        <input type="text" name="name" placeholder="확인 할 유저 이름" />
        <button type="submit">확인하러 가기</button>
      </form>
    </div>
  </body>
</html>
